#threeracha {
    display: block;
    margin: auto;
    width: 17rem;
    height: auto;
    position: relative;
    top: 12rem;
}

#google {
    width: 17rem;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}