html {
    height: 100%;
    margin: 0.3em;
}

body {
    min-height: 100%;
}
#threeracha {
    display: block;
    margin: auto;
    width: 17rem;
    height: auto;
    position: relative;
    top: 12rem;
}

#google {
    width: 17rem;
    height: auto;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #404040;
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-store {
    float: left;
    padding: 0.6rem;

}

.gmail-images {
    float: right;
    padding: 0.6rem;
}